/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';
@import '~material-icons/iconfont/material-icons.css';

* {
    font-family: 'Ericsson-Hilda';
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}