<div class="category-item">
    <div class="category-item__header">
        <h1 class="category-item__title">Categories</h1>
        <span (click)='handleCategoryCollapse()' class="category-item__collapse">{{ collapsed ? '+' : '-' }}</span>
    </div>
    <div class="category-item__categories" *ngIf='!collapsed'>
        <div class="category-item__category" *ngFor='let category of categoryOptions'>
            <mat-checkbox [checked]='checkedCategories.includes(category)' (change)='handleCheckboxChange($event, category)'>{{ category }}</mat-checkbox>
        </div>
    </div>
</div>
