main.home {
    display: grid;
    width: 100%;
    column-gap: 40px;
    grid-template-columns: 300px 1fr;
    padding: 10px;

    app-navbar {
        grid-column: 1 / span all;
    }
}

.button-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.sub-header {
    margin: 10px 0;
    
    .sub-header_container {
        margin: 10px 0;
        padding: 0 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center baseline;

        app-search-capabilities {
            place-self: center end;
        }
    }
}

::ng-deep .capability-backdrop-panel {
    overflow-y: auto !important;
    // pointer-events: none !important;
    height: 90%;
}

@media only screen and (max-height: 700px) {
    ::ng-deep .capability-backdrop-panel {
        margin-top: 20px !important;
    }
}