<div>
    <section class="sub-header">
        <div class="sub-header_container">
            <div class="button-container">
                <button (click)='handleOpenCapabilityForm()' mat-raised-button color="accent">Create capability</button>
            </div>
            <app-search-capabilities (onSearch)='setSearch($event)'></app-search-capabilities>
        </div>
        <mat-divider></mat-divider>
    </section>
    <main class="home">
        <app-filter-categories (filterCategoriesChange)='setCategoriesFilter($event)' (filterTagsChange)='setTagsFilter($event)' [capabilityEvents]='capabilities'></app-filter-categories>
        <app-capabilities-board [search]='search' [categoriesFilter]='categoriesFilter' [tagsFilter]='tagsFilter' (capabilitiesLoaded)='setCapabilites($event)' [updateCapabilities]='updateCababilites'></app-capabilities-board>

    </main>
</div>
setCapabilites